@media screen and (max-width: 1526px) {
    h1 {
        width: 80%;
    }
    .greenShape {
        width: 20%;
        background-repeat: no-repeat;
    }
    .light-1 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .light-2 {
    background-size: contain;
    height: 20vw;
    margin-top: -3.7vw;
    background-repeat: no-repeat;
    }
    .redL {
        width: 80%;
        background-repeat: no-repeat;
        top: -133vw;
    }
    .redL-2 {
        width: 80%;
        background-repeat: no-repeat;
        top: -142vw;
    }
    .blueL {
        width: 80%;
        background-repeat: no-repeat;
        top: -156.5vw;
        left: 10.5vw;
    }
    .blueL-2 {
        width: 80%;
        background-repeat: no-repeat;
        top: -164.5vw;
        left: 50vw;
    }
    .yellowL {
        width: 80%;
        background-repeat: no-repeat;
        top: -175.5vw;
        left: -3.5vw;
    }
    .yellowL-2 {
        width: 80%;
        background-repeat: no-repeat;
        top: -188.5vw;
        left: 57.5vw;
    }
    .bigB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
    .snow {
    background-size: contain;
    height: 80vw;
    margin-top: 4vw;
    margin-left: 4vw;
    background-repeat: no-repeat;
    }
    .hand {
    background-image: none;
    }
    .light-3 {
        background-image: none;
    }
    .lttleB-1 {
    background-size: contain;
    height: 80vw;
    margin-top: -54vw;
    margin-left: 4vw;
    background-repeat: no-repeat;
    }
    .lttleB-2 {
    background-size: contain;
    height: 80vw;
    margin-top: -68vw;
    margin-left: 0;
    background-repeat: no-repeat;
    }
    .lttleB-3 {
    background-size: contain;
    height: 10vw;
    margin-top: -67vw;
    margin-left: 1vw;
    background-repeat: no-repeat;
    }
    .lttleB-4 {
    background-size: contain;
    height: 10vw;
    margin-top: 2vw;
    margin-left: 1vw;
    background-repeat: no-repeat;
    }
    .lttleB-5 {
    background-size: contain;
    height: 10vw;
    margin-top: 1vw;
    margin-left: 0.5vw;
    background-repeat: no-repeat;
    }
    .grayB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
}
@media screen and (max-width: 1372px) {
    h1 {
        width: 70%;
    }
    .greenShape {
        width: 20%;
        background-repeat: no-repeat;
    }
    .light-1 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .light-2 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .redL {
        width: 10%;
        background-repeat: no-repeat;
        top: -134vw;
        left: 1vw;
    }
    .redL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -144vw;
    }
    .blueL {
        width: 10%;
        background-repeat: no-repeat;
        top: -156.5vw;
        left: 9.5vw;
    }
    .blueL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -166.5vw;
        left: 49vw;
    }
    .yellowL {
        width: 10%;
        background-repeat: no-repeat;
        top: -177.5vw;
        left: -4.5vw;
    }
    .yellowL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -189.5vw;
        left: 56.5vw;
    }
    .bigB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
    .grayB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
}
@media screen and (max-width: 1069px) {
    h1 {
        width: 50%;
    }
    .greenShape {
        width: 20%;
        background-repeat: no-repeat;
    }
    .light-1 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .light-2 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .redL {
        width: 10%;
        background-repeat: no-repeat;
        top: -134vw;
        left: 1vw;
    }
    .redL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -144vw;
    }
    .blueL {
        width: 10%;
        background-repeat: no-repeat;
        top: -156.5vw;
        left: 9.5vw;
    }
    .blueL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -166.5vw;
        left: 49vw;
    }
    .yellowL {
        width: 10%;
        background-repeat: no-repeat;
        top: -177.5vw;
        left: -4.5vw;
    }
    .yellowL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -189.5vw;
        left: 56.5vw;
    }
    .bigB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
    .grayB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
}
@media screen and (max-width: 764px) {
    h1 {
        width: 30%;
    }
    .greenShape {
        width: 20%;
        background-repeat: no-repeat;
    }
    .light-1 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .light-2 {
    background-size: contain;
    height: 20vw;
    background-repeat: no-repeat;
    }
    .redL {
        width: 10%;
        background-repeat: no-repeat;
        top: -134vw;
        left: 1vw;
    }
    .redL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -144vw;
    }
    .blueL {
        width: 10%;
        background-repeat: no-repeat;
        top: -156.5vw;
        left: 9.5vw;
    }
    .blueL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -166.5vw;
        left: 49vw;
    }
    .yellowL {
        width: 10%;
        background-repeat: no-repeat;
        top: -177.5vw;
        left: -4.5vw;
    }
    .yellowL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -189.5vw;
        left: 56.5vw;
    }
    .bigB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
    .grayB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
}
@media screen and (max-width: 461px) {
    h1 {
        width: 10%;
    }
    .greenShape {
        width: 20%;
        background-repeat: no-repeat;
    }
    .light-1 {
    width: 20%;
    height: inherit;
    background-repeat: no-repeat;
    }
    .light-2 {
    width: 20%;
    height: inherit;
    background-repeat: no-repeat;
    }
    .redL {
        width: 10%;
        background-repeat: no-repeat;
        top: -134vw;
        left: 1vw;
    }
    .redL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -144vw;
    }
    .blueL {
        width: 10%;
        background-repeat: no-repeat;
        top: -156.5vw;
        left: 9.5vw;
    }
    .blueL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -166.5vw;
        left: 49vw;
    }
    .yellowL {
        width: 10%;
        background-repeat: no-repeat;
        top: -177.5vw;
        left: -4.5vw;
    }
    .yellowL-2 {
        width: 10%;
        background-repeat: no-repeat;
        top: -189.5vw;
        left: 56.5vw;
    }
    .bigB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
    .grayB {
    background-size: contain;
    height: 80vw;
    background-repeat: no-repeat;
    }
}