@keyframes strokeColorChange {
    0% {
        -webkit-text-stroke-color: #0ADB81;
    }
    25% {
        -webkit-text-stroke-color: #FED90E;
    }
    50% {
        -webkit-text-stroke-color: #0022FF;
    }
    75% {
        -webkit-text-stroke-color: #DB0A0A;
    }
    100% {
        -webkit-text-stroke-color: #0ADB81;
    }
}

@keyframes greenShapeChange {
    0% {
        background-position-x: 0;
    }
    /* 50% {
        background-position-x: 236px;
    } */
    100% {
        background-position-x: 330px;
    }
}

@keyframes redLight {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bJumping {
    0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-40px);
	}

	80% {
		transform: translateY(-10px);
	}
}

@keyframes snowShaking {
    10%, 90% {
        transform: translateX(-4px);
        transform: translateY(-3px);
    }
    20%, 80% {
        transform: translateX(4px);
        transform: translateY(3px);
    }
    30%, 50%, 70% {
        transform: translateX(-3px);
        transform: translateY(-4px);
    }
    40%, 60% {
        transform: translateX(3px);
        transform: translateY(4px);
    }
}