@font-face {
    font-family: "Grid Type";
    src: url("../fonts/BAA!\ big.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grid Type";
    src: url("../fonts/GridTypeRectangleV2510091252.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grid Type";
    src: url("../fonts/GridTypeRectangleV2511122313.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grid Type";
    src: url("../fonts/BAA!\ little.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}