/* общие стили для страницы */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 55vw;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Grid Type";
    background-color: #131313;
}

/* задний фон */

/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 78vw;
    background-image: url('../images/postcard.svg');
    opacity: 0.2;
    z-index: -1;
    font-family: "Grid Type";
} */

/* общие параметры секции */

.section-1 {
    position: relative;
}

/* секция 1 */

h1 {
    font-size: 16.53vw;
    color: white;
    -webkit-text-stroke-width: 2vw;
    -webkit-text-stroke-color: #0ADB81;
    paint-order: stroke fill;
    letter-spacing: 0.7vw;
    line-height: 17.6vw;
    display: flex;
    position: absolute;
    margin-top: 27.6vw;
    margin-left: 3vw;
    animation: strokeColorChange 4s infinite linear forwards;
}

.greenShape {
    width: 21vw;
    height: 8.51vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 4vw;
    left: 85vw;
    animation: greenShapeChange 1.5s linear infinite;
}

.greenShape-2 {
    width: 21vw;
    height: 10.51vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 27vw;
    left: 53vw;
    animation: greenShapeChange 1.3s linear infinite;
}

.greenShape-3 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 17.5vw;
    left: -5.5vw;
    animation: greenShapeChange 1.1s linear infinite;
}

.greenShape-4 {
    width: 21.5vw;
    height: 6.5vw;
    background-image: url('../images/green\ shape\ 3.svg');
    position: absolute;
    top: 6.7vw;
    left: 15.5vw;
    animation: greenShapeChange 1.7s linear infinite;
}

.greenShape-5 {
    width: 21.5vw;
    height: 17.5vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 65vw;
    left: 68.5vw;
    animation: greenShapeChange 1.7s linear infinite;
}

#light-2 {
    width: 48.2vw;
    height: 12.37vw;
    /* background-image: url('../images/light\ 2.svg'); */
    display: flex;
    flex-direction: column;
}
#light-1 {
    width: 57.2vw;
    height: 16.37vw;
    /* background-image: url('../images/light\ 1.svg'); */
    display: flex;
    flex-direction: column;
    margin-left: 36vw;
    margin-bottom: -12vw;
    margin-top: -4.5vw;
}

#redL {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 1.5vw;
    left: 2.5vw;
    animation: redLight 1.7s linear infinite;
}

#redL-2 {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 3.5vw;
    left: 42.3vw;
    animation: redLight 2s linear infinite;
}

#blueL {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 2.5vw;
    left: 11.7vw;
    animation: redLight 1.7s linear infinite;
}

#blueL-2 {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 5.5vw;
    left: 50vw;
    animation: redLight 1.1s linear infinite;
}

#yellowL {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 7.5vw;
    left: -4.5vw;
    animation: redLight 2s linear infinite;
}

#yellowL-2 {
    width: 11.76vw;
    height: 11.76vw;
    position: absolute;
    top: 5.5vw;
    left: 57.5vw;
    animation: redLight 1.7s linear infinite;
}

#bigB {
    width: 82vw;
    height: 77.7vw;
    position: absolute;
    top: 4.8vw;
    left: 47vw;
    /* opacity: 0.2; */
}

.greenShape-6 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 35.8vw;
    left: 21.7vw;
    animation: greenShapeChange 1.5s linear infinite;
}

.greenShape-7 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 41.8vw;
    left: 37.5vw;
    animation: greenShapeChange 1.5s linear infinite;
}

.greenShape-8 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 68vw;
    left: 44.5vw;
    animation: greenShapeChange 1.5s linear infinite;
}

.greenShape-9 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 18vw;
    left: 40.5vw;
    animation: greenShapeChange 1.5s linear infinite;
}

.greenShape-10 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 56vw;
    left: 72.5vw;
    animation: greenShapeChange 1.8s linear infinite;
}

.greenShape-11 {
    width: 21vw;
    height: 2.17vw;
    background-image: url('../images/green\ shape\ 2.svg');
    position: absolute;
    top: 78.5vw;
    left: 64vw;
    animation: greenShapeChange 1.1s linear infinite;
}

.greenShape-12 {
    width: 21.5vw;
    height: 6.5vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 24.5vw;
    left: 27vw;
    animation: greenShapeChange 1.1s linear infinite;
}

.greenShape-13 {
    width: 21vw;
    height: 10.51vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 72vw;
    left: 94vw;
    animation: greenShapeChange 1.1s linear infinite;
}

.greenShape-14 {
    width: 21vw;
    height: 10.51vw;
    background-image: url('../images/green\ shape\ steps.svg');
    position: absolute;
    top: 50vw;
    left: 30vw;
    animation: greenShapeChange 1.1s linear infinite;
}

#grayB {
    width: 65.77vw;
    height: 35.7vw;
    position: absolute;
    top: 44.8vw;
    left: 64vw;
}

#light-3 {
    width: 93.82vw;
    height: 35.55vw;
    display: flex;
    flex-direction: column;
    margin-left: 42vw;
    margin-bottom: -12vw;
    margin-top: -12.5vw;
    position: absolute;
    z-index: 2;
}

#hand {
    width: 38.38vw;
    height: 27.7vw;
    position: absolute;
    top: 54.8vw;
    left: 53vw;
}

#littleB-1 {
    width: 11.38vw;
    height: 27.7vw;
    position: absolute;
    top: 10.5vw;
    left: 2.9vw;
    animation: bJumping 1.2s linear infinite;
}

#littleB-2 {
    width: 9.38vw;
    height: 10.7vw;
    position: absolute;
    top: 37.3vw;
    left: 4.9vw;
    animation: bJumping 1.7s linear infinite;
}

#littleB-3 {
    width: 9.38vw;
    height: 11.7vw;
    position: absolute;
    top: 35.7vw;
    left: 24.9vw;
    animation: bJumping 0.8s linear infinite;
}

#littleB-4 {
    width: 12.38vw;
    height: 12.7vw;
    position: absolute;
    top: 53.5vw;
    left: 16.5vw;
    animation: bJumping 1.4s linear infinite;
}

#littleB-5 {
    width: 12.38vw;
    height: 9.7vw;
    position: absolute;
    top: 72.8vw;
    left: 27.5vw;
    animation: bJumping 1.1s linear infinite;
}

#snow {
    width: 109vw;
    height: 80vw;
    position: absolute;
    top: 1.4vw;
    left: 1vw;
    animation: snowShaking 4s linear infinite;
}